# Configuración de la Aplicación Flask
FLASK_ENV=development
DEBUG=True
HOST=0.0.0.0
PORT=8080

# Configuración de Google Drive
DRIVE_FOLDER_ID=1iulcI1atbQN6lAs-lnjq9w9npcfWOX9N
SERVICE_ACCOUNT_FILE=credentials.json

# Seguridad API
DEVICE_API_KEY=LIND2026ANTONIO
ENABLE_API_KEY=True

# Cloudflare Tunnel (opcional)
CLOUDFLARE_TUNNEL_NAME=
BACKEND_FIXED_URL=
